!!!
html
  head
    title Singly Challenger
    link(rel='stylesheet', href='/styles.css')
    script(type='text/javascript', src='http://localhost:3333/client.deps')
    script(type='text/javascript', src='/singly.js')
  body!= body